.cart-product-items .cart-product-item .product-image >img{

    width: 100px;
    height: 100%;
}

.cart-product-items .cart-product-item .product-details{

    height: 130px;
}


.cart-product-items .cart-product-item .product-name{

    font-size: 1.1rem;
    font-weight: bold;
}

.cart-product-items .cart-product-item .product-quantity-and-price{

    font-size: 1.2rem;
    
}


.cart-product-items .cart-product-item{

    border:1px solid #ccc ;
}

.cart .mobile-content-body{

   height: 60vh;
   overflow-y: auto;
   overflow-x: hidden;

}


.cart .mobile-content-footer{

    
    padding:15px 10px ;
}


 .cart .mobile-content-footer button{

   font-weight: bold;
   width:100%;
   margin: 10px 0;
   display: block;
   

}


.cart .mobile-content-footer button:nth-child(2){

   background-color: var(--main-color-black);
   color: var(--main-color-white)

}

 .cart .mobile-content-footer button:hover{

   background-color: var(--main-color);
   color: var(--main-color-white)
   
}



